.my-btn{
    margin-top: 2px;
    margin-bottom:2px;
    margin-left: 10px;
    margin-right: 10px;
}
.application-div{
    width:25%; 
    float: left;
}
.my-application-btn-div{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.application-text-div{
    width: 73%;
    float: right;
}