.my-nav{
    background-color:#f3f3f3 ;
}
.left-div:hover{
    box-shadow: 2px 2px 7px  lightseagreen;
}
.right-div:hover{
    box-shadow: 2px 2px 7px  lightseagreen;
}
.middle-div:hover{
    box-shadow: 2px 2px 7px  lightseagreen;
}
.left-div{
    background-color: white;
    border-color: lightseagreen;
    border-style: solid;
    border-width:1px;
    border-radius:5px;
    padding:4px;
    margin: 7px;
    
}
.right-div{
    background-color: white;
    border-color: lightseagreen;
    border-style: solid;
    border-width:1px;
    border-radius:5px;
    padding:4px;
    margin:7px;
}
.middle-div{
    background-color: white;
    border-color: lightseagreen;
    border-style: solid;
    border-width:1px;
    border-radius:5px;
    padding:4px;
    margin: 7px;
}
.my-profile-image{
    width:20%;
    height:100%;
    margin:0px;
    float:left;
}
.img{
    width : 100%;
}

@media only screen and (min-width:768px){
    .left-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width: 24%;
        margin: 2px;
        float:left;
    }
    .middle-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width:50%;
        margin: 4px;
        margin-right: 1px;
        float: left;
    }
    .right-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width: 24%;
        margin: 4px;
        margin-left: 1px;
        margin-right: 3px;
        float: right;
    }
}

@media only screen and (min-width:1100px){
    .left-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width: 24%;
        margin: 4px;
        float:left;
    }
    .middle-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width:50%;
        margin: 4px;
        margin-right: 1px;
        float: left;
    }
    .right-div{
        background-color: white;
        border-color: lightseagreen;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        padding:4px;
        width: 24%;
        margin: 4px;
        margin-left: 1px;
        margin-right: 7px;
        float: right;
    }
}
